# Employee Attrition - Data Exploration

## Members

* Aichinger Niklas
* Ablinger Raphael
* Neudorfer Niklas

In [163]:
import pandas as pd

employeeAttrtion = pd.read_csv("data/input/employee_attrition.csv")

In [164]:
employeeAttrtion.sample(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
465,46,No,Travel_Frequently,1034,Research & Development,18,1,Medical,1,624,...,4,80,0,28,3,2,2,2,1,2
1185,43,No,Travel_Rarely,1291,Research & Development,15,2,Life Sciences,1,1666,...,1,80,1,14,3,3,14,10,6,11
1017,27,No,Travel_Rarely,1377,Research & Development,11,1,Life Sciences,1,1434,...,2,80,0,6,3,4,5,0,1,4
401,56,No,Travel_Frequently,906,Sales,6,3,Life Sciences,1,532,...,4,80,3,36,0,2,7,7,7,7
587,52,No,Travel_Rarely,1325,Research & Development,11,4,Life Sciences,1,813,...,2,80,1,9,3,3,5,2,1,4
553,40,No,Travel_Rarely,804,Research & Development,2,1,Medical,1,763,...,4,80,0,5,2,2,4,2,2,3
612,28,No,Travel_Rarely,760,Sales,2,4,Marketing,1,846,...,1,80,0,8,2,3,8,7,7,5
230,52,No,Travel_Rarely,1323,Research & Development,2,3,Life Sciences,1,316,...,2,80,0,6,3,2,2,2,2,2
142,38,No,Travel_Rarely,364,Research & Development,3,5,Technical Degree,1,193,...,2,80,0,19,2,3,3,2,2,2
700,58,Yes,Travel_Rarely,289,Research & Development,2,3,Technical Degree,1,977,...,1,80,0,7,4,3,1,0,0,0

In [165]:
employeeAttrtion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [166]:
employeeAttrtion.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [167]:
employeeAttrtion.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [168]:
employeeAttrtion.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

## Changing the Object Columns to useable Data

### Attrition Column & OverTime Column

The Attrition Column contains String values, the string values are Yes and No. It would be a perfect example where boolean values could be used, so we casted the String values to Booleans

For the Overtime Column this is also the case, so we have to do the same for that.

In [169]:
employeeAttrtion['Attrition'].unique()

array(['Yes', 'No'], dtype=object)

In [170]:
employeeAttrtion['OverTime'].unique()

array(['Yes', 'No'], dtype=object)

In [171]:
def cast_to_boolean(value):
    return True if value == "Yes" else False

In [172]:
employeeAttrtion['Attrition'] = employeeAttrtion['Attrition'].map(cast_to_boolean)
employeeAttrtion['Attrition'].unique()

array([ True, False])

In [173]:
employeeAttrtion['OverTime'] = employeeAttrtion['OverTime'].map(cast_to_boolean)
employeeAttrtion['OverTime'].unique()

array([ True, False])

In [174]:
employeeAttrtion.dtypes

Age                          int64
Attrition                     bool
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                      bool
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

## Business Travel Column

We need to transform the Business Travel Column because we can't train with String values.
Therefore, we transform the Data to Ordinal values.

For Business Travel:
* 0 means that someone Non Travel (= Non-Travel Column) and a higher value means that someone travels more (either Travel_Rarely = 1 or Travel_Frequently = 2)

In [175]:
employeeAttrtion['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [176]:
from sklearn.preprocessing import OrdinalEncoder

In [177]:
business_travel_ordered = ['Non-Travel', 'Travel_Frequently', 'Travel_Rarely']

ordinal_encoder = OrdinalEncoder(categories=[business_travel_ordered])

employeeAttrtion[['BusinessTravel']] = ordinal_encoder.fit_transform(employeeAttrtion[['BusinessTravel']])

In [178]:
employeeAttrtion['BusinessTravel'].unique()

array([2., 1., 0.])

# Remaining Columns

In [179]:
employeeAttrtion.sample(10)
employeeAttrtion.dtypes

Age                           int64
Attrition                      bool
BusinessTravel              float64
DailyRate                     int64
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome                 int64
MonthlyRate                   int64
NumCompaniesWorked            int64
Over18                       object
OverTime                       bool
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears             int64
TrainingTimesLastYear         int64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrManager          int64
dtype: object

## The Columns which need to be reworked

* Department
* EducationField
* JobRole
* Gender
* Over18

## Over 18 Column

In [180]:
employeeAttrtion['Over18'].unique()

array(['Y'], dtype=object)

In [181]:
def cast_over18_to_boolean(value):
    return True if value == 'Y' else False

In [182]:
employeeAttrtion['Over18'] = employeeAttrtion['Over18'].map(cast_over18_to_boolean)
employeeAttrtion['Over18'].unique()

array([ True])

## Gender Column

In [183]:
employeeAttrtion['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [184]:
def cast_gender_to_number(value):
    return 1 if value == "Male" else 0

In [185]:
employeeAttrtion['Gender'] = employeeAttrtion['Gender'].map(cast_gender_to_number)
employeeAttrtion['Gender'].unique()

array([0, 1])

# Non - Ordinal Data -> OneHotEncoder :^)

* Department
* EducationField
* JobRole

## Department

In [186]:
employeeAttrtion['Department'].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [187]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False)
one_hot_raw = one_hot_encoder.fit_transform(employeeAttrtion[['Department']])


one_hot_raw = pd.DataFrame(one_hot_encoder.transform(employeeAttrtion[['Department']]),columns=one_hot_encoder.get_feature_names_out())
one_hot_raw.index = employeeAttrtion.index
employeeAttrtion = pd.concat([employeeAttrtion, one_hot_raw], axis=1)
employeeAttrtion.drop(['Department'], axis=1, inplace=True)

In [188]:
employeeAttrtion

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Department_Human Resources,Department_Research & Development,Department_Sales
0,41,True,2.0,1102,1,2,Life Sciences,1,1,2,...,8,0,1,6,4,0,5,0.0,0.0,1.0
1,49,False,1.0,279,8,1,Life Sciences,1,2,3,...,10,3,3,10,7,1,7,0.0,1.0,0.0
2,37,True,2.0,1373,2,2,Other,1,4,4,...,7,3,3,0,0,0,0,0.0,1.0,0.0
3,33,False,1.0,1392,3,4,Life Sciences,1,5,4,...,8,3,3,8,7,3,0,0.0,1.0,0.0
4,27,False,2.0,591,2,1,Medical,1,7,1,...,6,3,3,2,2,2,2,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,False,1.0,884,23,2,Medical,1,2061,3,...,17,3,3,5,2,0,3,0.0,1.0,0.0
1466,39,False,2.0,613,6,1,Medical,1,2062,4,...,9,5,3,7,7,1,7,0.0,1.0,0.0
1467,27,False,2.0,155,4,3,Life Sciences,1,2064,2,...,6,0,3,6,2,0,3,0.0,1.0,0.0
1468,49,False,1.0,1023,2,3,Medical,1,2065,4,...,17,3,2,9,6,0,8,0.0,0.0,1.0
1469,34,False,2.0,628,8,3,Medical,1,2068,2,...,6,3,4,4,3,1,2,0.0,1.0,0.0

## Education Field

In [189]:
one_hot_raw = one_hot_encoder.fit_transform(employeeAttrtion[['EducationField']])


one_hot_raw = pd.DataFrame(one_hot_encoder.transform(employeeAttrtion[['EducationField']]),columns=one_hot_encoder.get_feature_names_out())
one_hot_raw.index = employeeAttrtion.index
employeeAttrtion = pd.concat([employeeAttrtion, one_hot_raw], axis=1)
employeeAttrtion.drop(['EducationField'], axis=1, inplace=True)

In [190]:
employeeAttrtion

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,YearsWithCurrManager,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree
0,41,True,2.0,1102,1,2,1,1,2,0,...,5,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,49,False,1.0,279,8,1,1,2,3,1,...,7,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,37,True,2.0,1373,2,2,1,4,4,1,...,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,33,False,1.0,1392,3,4,1,5,4,0,...,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,27,False,2.0,591,2,1,1,7,1,1,...,2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,False,1.0,884,23,2,1,2061,3,1,...,3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1466,39,False,2.0,613,6,1,1,2062,4,1,...,7,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1467,27,False,2.0,155,4,3,1,2064,2,1,...,3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1468,49,False,1.0,1023,2,3,1,2065,4,1,...,8,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1469,34,False,2.0,628,8,3,1,2068,2,1,...,2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## Job Role

In [191]:
one_hot_raw = one_hot_encoder.fit_transform(employeeAttrtion[['JobRole']])


one_hot_raw = pd.DataFrame(one_hot_encoder.transform(employeeAttrtion[['JobRole']]),columns=one_hot_encoder.get_feature_names_out())
one_hot_raw.index = employeeAttrtion.index
employeeAttrtion = pd.concat([employeeAttrtion, one_hot_raw], axis=1)
employeeAttrtion.drop(['JobRole'], axis=1, inplace=True)

In [192]:
employeeAttrtion

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative
0,41,True,2.0,1102,1,2,1,1,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,49,False,1.0,279,8,1,1,2,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,37,True,2.0,1373,2,2,1,4,4,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33,False,1.0,1392,3,4,1,5,4,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,27,False,2.0,591,2,1,1,7,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,False,1.0,884,23,2,1,2061,3,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1466,39,False,2.0,613,6,1,1,2062,4,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1467,27,False,2.0,155,4,3,1,2064,2,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1468,49,False,1.0,1023,2,3,1,2065,4,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1469,34,False,2.0,628,8,3,1,2068,2,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

# Result


Now we can see that every column has a value which can be used for training

In [193]:
employeeAttrtion.dtypes

Age                                    int64
Attrition                               bool
BusinessTravel                       float64
DailyRate                              int64
DistanceFromHome                       int64
Education                              int64
EmployeeCount                          int64
EmployeeNumber                         int64
EnvironmentSatisfaction                int64
Gender                                 int64
HourlyRate                             int64
JobInvolvement                         int64
JobLevel                               int64
JobSatisfaction                        int64
MaritalStatus                         object
MonthlyIncome                          int64
MonthlyRate                            int64
NumCompaniesWorked                     int64
Over18                                  bool
OverTime                                bool
PercentSalaryHike                      int64
PerformanceRating                      int64
RelationshipSatisfaction               int64
StandardHours                          int64
StockOptionLevel                       int64
TotalWorkingYears                      int64
TrainingTimesLastYear                  int64
WorkLifeBalance                        int64
YearsAtCompany                         int64
YearsInCurrentRole                     int64
YearsSinceLastPromotion                int64
YearsWithCurrManager                   int64
Department_Human Resources           float64
Department_Research & Development    float64
Department_Sales                     float64
EducationField_Human Resources       float64
EducationField_Life Sciences         float64
EducationField_Marketing             float64
EducationField_Medical               float64
EducationField_Other                 float64
EducationField_Technical Degree      float64
JobRole_Healthcare Representative    float64
JobRole_Human Resources              float64
JobRole_Laboratory Technician        float64
JobRole_Manager                      float64
JobRole_Manufacturing Director       float64
JobRole_Research Director            float64
JobRole_Research Scientist           float64
JobRole_Sales Executive              float64
JobRole_Sales Representative         float64
dtype: object

## Saving the Data to a new CSV - File

In [195]:
employeeAttrtion.to_csv("data/prepared-employee_attrition.csv")