# Employee Attrition - Data Exploration

## Members

* Aichinger Niklas
* Ablinger Raphael
* Neudorfer Niklas

In [74]:
import pandas as pd

employeeAttrtion = pd.read_csv("data/input/employee_attrition.csv")

In [75]:
employeeAttrtion.sample(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1269,43,No,Travel_Rarely,244,Human Resources,2,3,Life Sciences,1,1778,...,2,80,0,10,5,3,9,7,1,8
1196,41,No,Travel_Rarely,1206,Sales,23,2,Life Sciences,1,1678,...,4,80,0,21,2,3,2,0,0,2
790,33,No,Travel_Rarely,654,Research & Development,5,3,Life Sciences,1,1099,...,3,80,1,9,2,3,3,2,1,2
600,32,No,Travel_Rarely,859,Research & Development,4,3,Life Sciences,1,830,...,3,80,1,14,3,3,14,13,6,8
59,37,No,Travel_Rarely,1115,Research & Development,1,4,Life Sciences,1,77,...,3,80,1,7,2,4,7,5,0,7
1169,27,No,Travel_Rarely,486,Research & Development,8,3,Medical,1,1647,...,1,80,0,5,0,3,3,2,0,2
1301,58,No,Non-Travel,350,Sales,2,3,Medical,1,1824,...,4,80,1,37,0,2,16,9,14,14
319,32,No,Travel_Rarely,588,Sales,8,2,Technical Degree,1,436,...,4,80,0,13,2,3,13,12,11,9
1376,38,No,Travel_Rarely,1206,Research & Development,9,2,Life Sciences,1,1940,...,4,80,2,10,0,4,5,2,0,3
1126,50,No,Travel_Rarely,264,Sales,9,3,Marketing,1,1591,...,3,80,1,27,2,3,1,0,0,0

In [76]:
employeeAttrtion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [77]:
employeeAttrtion.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [78]:
employeeAttrtion.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [79]:
employeeAttrtion.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

## Changing the Object Columns to useable Data

### Attrition Column & OverTime Column

The Attrition Column contains String values, the string values are Yes and No. It would be a perfect example where boolean values could be used, so we casted the String values to Booleans

For the Overtime Column this is also the case, so we have to do the same for that.

In [90]:
employeeAttrtion['Attrition'].unique()

array([ True, False])

In [91]:
employeeAttrtion['OverTime'].unique()

array([ True, False])

In [81]:
def cast_to_boolean(value):
    return True if value == "Yes" else False

In [82]:
employeeAttrtion['Attrition'] = employeeAttrtion['Attrition'].map(cast_to_boolean)
employeeAttrtion['Attrition'].unique()

array([ True, False])

In [83]:
employeeAttrtion['OverTime'] = employeeAttrtion['OverTime'].map(cast_to_boolean)
employeeAttrtion['OverTime'].unique()

array([ True, False])

In [84]:
employeeAttrtion.dtypes

Age                          int64
Attrition                     bool
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                      bool
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

## Business Travel Column

We need to transform the Business Travel Column because we can't train with String values.
Therefore, we transform the Data to Ordinal values.

For Business Travel:
* 0 means that someone Non Travel (= Non-Travel Column) and a higher value means that someone travels more (either Travel_Rarely = 1 or Travel_Frequently = 2)

In [85]:
employeeAttrtion['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [86]:
from sklearn.preprocessing import OrdinalEncoder

In [87]:
business_travel_ordered = ['Non-Travel', 'Travel_Frequently', 'Travel_Rarely']

ordinal_encoder = OrdinalEncoder(categories=[business_travel_ordered])

employeeAttrtion[['BusinessTravel']] = ordinal_encoder.fit_transform(employeeAttrtion[['BusinessTravel']])

In [92]:
employeeAttrtion['BusinessTravel'].unique()

array([2., 1., 0.])

# Remaining Columns

In [97]:
employeeAttrtion.sample(10)
employeeAttrtion.dtypes

Age                           int64
Attrition                      bool
BusinessTravel              float64
DailyRate                     int64
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome                 int64
MonthlyRate                   int64
NumCompaniesWorked            int64
Over18                       object
OverTime                       bool
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears             int64
TrainingTimesLastYear         int64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrManager          int64
dtype: object

## The Columns which need to be reworked

* Department
* EducationField
* Gender
* Over18